include AUTHORS CHANGELOG INSTALL README VERSION
recursive-include test *.py *.tif *.xmp *.ai  *.avi  *.eps  *.gif  *.indd  *.jpg  *.mov  *.mp3  *.pdf  *.png  *.psd  *.wav *.txt
recursive-include docs *